@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

.base {
  background-image: url("/public/images/cos.webp");
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Cookie;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: rgba(196, 196, 196, 0.2);
  border-radius: 1rem;
  color: white;
  margin: 1vmax;
  min-width: 85vmin;
  max-height: 90vh;
}

.container h1 {
  font-size: clamp(3rem, 1rem + 5vw, 9rem);
  padding: 1vw;
  text-align: center;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container form input[type="text"],
.container form input[type="email"],
.container form input[type="password"] {
  font-size: clamp(1rem, 1rem + 4vmin, 5rem);
  background-color: rgba(196, 196, 196, 0.6);
  border-radius: 1rem;
  width: 85%;
  color: white;
  padding: 0.3rem;
  margin: 0.7rem;
  outline: 0;
  border: 0;
  font-family: Cookie;
}

.container form input[type="text"]::placeholder,
.container form input[type="email"]::placeholder,
.container form input[type="password"]::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.container form input[type="button"] {
  font-family: Cookie;
  font-size: clamp(1rem, 1rem + 4vmin, 5rem);
  margin: 0.7rem;
  background-color: rgba(11, 194, 52, 0.6);
  color: white;
  padding: 1vmin;
  border: 0;
}

.aldreadyHavingAccount {
  margin: 0.7rem;
  display: flex;
  flex-direction: row;
  font-size: clamp(0.5rem, 0.5rem + 3vmin, 3rem);
  align-items: center;
}

.aldreadyHavingAccount input[type="button"] {
  font-size: clamp(0.8rem, 0.8rem + 3vmin, 2rem) !important;
  background-color: rgba(45, 145, 188, 0.6) !important;
  margin-left: 3vmin;
}
