@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.login {
  background-image: url('/public/images/harrypotter-platform-bg.png');
  background-size: cover;
  background-position: 80%;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-x: auto;
}

.darkLayer {
  background-color: black;
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: grid;
  align-items: center;
  opacity: 0.85;
}

.loginBox {
  background-color: rgba(196, 196, 196, 0.3);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1.7vmax;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
}

.loginBox > h1 {
  font-size: larger;
  text-align: center;
  display: block;
  color: white;
  padding: 1vmax;
  margin: 20px;
  font-weight: lighter;
}

.loginBox > input[type='email'],
.loginBox > input[type='password'] {
  width: 80%;
  background-color: rgba(196, 196, 196, 0.6);
  height: 5vh;
  border-radius: 10px;
  padding: 10px;
  color: white;
  outline: 0;
  border: 1px solid transparent;
  margin: 10px;
}

.loginBox > input[type='email']:focus,
.loginBox > input[type='password']:focus {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.loginBox > input[type='email']::placeholder,
.loginBox > input[type='password']::placeholder {
  color: white;
}

.createAccount {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.createAccount > p {
  font-size: 2vmax;
  color: lightgray;
  padding: 1vmax;
}

.loginBox > input[type='button'] {
  background-color: rgba(11, 194, 52, 0.6);
  padding: 0.7vmax 3vmax 0.7vmax 3vmax;
  color: white;
  font-size: larger;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 85%;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.createAccount > input[type='button'] {
  background-color: rgba(45, 145, 188, 0.6);
  color: white;
  font-size: 1.5vmax;
  padding: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.loginBox > input[type='button']:active,
.loginBox > input[type='button']:focus,
.loginBox > input[type='button']:active:focus,
.loginBox > input[type='button']:focus:active {
  outline: none;
  border: none;
}

.Error {
  color: red;
  font-weight: 100;
  white-space: nowrap;
  min-height: 20px;
  font-size: smaller;
}

@media only screen and (min-width: 700px) {
  .loginBox {
    width: 50vw;
  }
}
