@import url('https://fonts.googleapis.com/css?family=Cookie');


.wrapper 
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/public/images/imgr2.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width:100vw;
    height :100vh ;
    color:white ;
    
  
}



.text 
{
  position:absolute ;
  top:50%;
  left:50% ;
  transform: translate(-50%,-50%);
  width:80vw ;
  background-color: rgba(196, 196, 196, 0.3);
  padding:20px ;
  box-shadow: rgba(185, 81, 81, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 5px;
}

.header 
{
  font-family: Cookie;
  width :100% ;
  text-align: center;
  margin-bottom: 20px;
  font-size: xx-large;
}


.content 
{
  display:flex ;
  flex-direction: column ;
  font-size: medium;

}

.content div 
{
  margin-bottom: 20px;
}



@media only screen and (min-width: 1024px) {
    .menu 
    {
      width:15vw;
    }
    .text  
    {
       width:40vw;
    }
} 