/* @import url('https://fonts.googleapis.com/css?family=Cookie'); */
.main {
  min-height: 100vh;
  background-color: var(--black);
  display: flex;
}

.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/public/images/imgr2.webp');
  font-family: 'Open Sans';
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text h1 {
  font-size: 1.5rem;
}

.text {
  background-size: cover;
  background-position: 80%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  font-size: 0.8rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0.6rem 0;
}

.text hr {
  border: 0.01rem solid white;
  width: 90%;
}

.text li {
  list-style-type: none;
  text-align: center;
  margin: 0.3rem 0;
  padding: 0.2rem;
}
