@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

.GamePage {
  background-image: url("../../../public/images/question-bg.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.QuestionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.3rem;
}

.QuestionBar svg {
  color: white;
}

.QuestionBar > .QuestionImg {
  width: 60vw;
  height: auto;
  object-fit: contain;
  transition: transform 0.2s;
}

.QuestionBar > .QuestionImg:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 1200px) {
  .QuestionBar > .QuestionImg {
    max-width: 25vw;
  }
}

.AnswerBar {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
}

.AnswerBar input {
  font-family: Cookie;
  font-size: 1rem;
}

.AnswerBarInput {
  display: block;
  width: 80vw;
  border-radius: 1rem;
  margin: auto;
  height: 5vmax;
  text-align: center;
  padding: 2vmin;
}
.AnswerBarInput:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.AnswerBarInput::placeholder {
  animation-name: tada;
  animation-duration: 5s;
}

.AnswerBarInput:focus {
  outline: 0px;
}

.AnswerBarBottom {
  display: flex;
  justify-content: center;
  padding-top: 3vw;
}

.AnswerBarIcon {
  width: 5vw;
  max-height: 5vh;
  padding: 1vmin;
  object-fit: contain;
}

.AnswerBarHint {
  width: 40vw;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  outline: none;
  font-family: Cookie;
}

.AnswerBarSubmit {
  width: 40vw;
  background-color: transparent;
  color: white;
  border: 1vmin solid white;
  border-radius: 2rem;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  outline: none;
  font-family: Cookie;
}

.AnswerBarHint p {
  font-size: 1.5rem;
}

.AnswerBarOnelineBottom {
  display: flex;
  gap: 1vmax;
  align-items: center;
}

.AnswerBarOnelineBottom > .AnswerBarHint {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

.AnswerBarOnelineBottom > .AnswerBarHint p {
  font-size: 1.5rem;
}

.AnswerBarOnelineBottom > input[type="text"] {
  border-radius: 10vmax;
  text-align: center;
  width: 55vw;
  height: 6vh;
  padding: 2vmin;
}

.AnswerBarOnelineBottom > .AnswerBarSubmit {
  width: 10vw;
}

.GreyLayer {
  background-color: grey;
  opacity: 0.6;
  z-index: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.HintBox {
  position: absolute;
  z-index: 1;
  max-width: 75%;
  max-height: 75%;
  background-color: rgb(59, 59, 59);
  color: white;
  left: 50%;
  top: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  transform: translate(-50%, -50%);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.HintBox > p {
  text-align: center;
  padding: 3vmin;
}

.HintBox :not(:last-child) {
  border-bottom: 1vmin solid white;
}

.game__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0px;
}

.game__menu,
.trophy {
  color: white;
  margin: 20px;
}
.trophy {
  display: flex;
  align-items: baseline;
}
