@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.main {
  min-height: 100vh;
  background-color: var(--black);
  color: white;
  display: flex;
}

.wrapper {
  color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  font-family: 'Open Sans';
}

.GamePage {
  background-image: url('../../../public/images/question-bg.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.QuestionBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.3rem;
}

.QuestionBar > .nexticon,
.QuestionBar > .previcon {
  max-height: 16vh;
  max-width: 8vw;
  object-fit: contain;
}

.QuestionBar > .previcon {
  transform: scaleX(-1);
}

.QuestionBar > .QuestionImg {
  max-width: 50vw;
  max-height: 50vh;
  object-fit: contain;
}

.QuestionImg {
  width: 50vw;
  height: 50vw;
}

.AnswerBar {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
}

.AnswerBarInput {
  display: block;
  width: 80vw;
  border-radius: 1rem;
  margin: auto;
  height: 5vmax;
  text-align: center;
  padding: 2vmin;
  font-size: large;
  outline: none;
}
.AnswerBarInput:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.AnswerBarInput::placeholder {
  animation-name: tada;
  animation-duration: 5s;
}

.AnswerBarInput:focus {
  outline: 0px;
}

.AnswerBarBottom {
  display: flex;
  justify-content: center;
  padding-top: 3vw;
}

.AnswerBarIcon {
  width: 5vw;
  max-height: 5vh;
  padding: 1vmin;
  object-fit: contain;
}

.AnswerBarHint {
  width: 40vw;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  outline: none;
}

.AnswerBarSubmit {
  width: 40vw;
  background-color: transparent;
  color: white;
  border: 1vmin solid white;
  border-radius: 2rem;
  padding: 10px;
  margin: 10px;
  font-size: medium;
  margin-top: 20px;
  outline: none;
}

.AnswerBarSubmit:disabled {
  opacity: 50%;
}
.AnswerBarOnelineBottom {
  display: flex;
  gap: 1vmax;
}

.AnswerBarOnelineBottom > .AnswerBarHint {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

.AnswerBarOnelineBottom > .AnswerBarHint > p {
  font-size: 3rem;
}

.AnswerBarOnelineBottom > input[type='text'] {
  border-radius: 10vmax;
  text-align: center;
  font-size: 3rem;
  width: 55vw;
  padding: 2vmin;
}

.AnswerBarOnelineBottom > .AnswerBarSubmit {
  font-size: 3rem;
  width: 10vw;
}

.GreyLayer {
  background-color: grey;
  opacity: 0.6;
  z-index: 0;
  position: absolute;
  height: 100vh;
}

.HintBox {
  position: absolute;
  z-index: 3;
  max-width: 75%;
  max-height: 75%;
  font-size: 0.8rem;
  background-color: rgb(59, 59, 59);
  color: white;
  left: 50%;
  top: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  transform: translate(-50%, -50%);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.HintBox > p {
  text-align: center;
  padding: 3vmin;
}

.HintBox :not(:last-child) {
  border-bottom: 1vmin solid white;
}

.game__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0px;
}

.game__menu,
.trophy {
  color: white;
  margin: 20px;
}
.trophy {
  display: flex;
  align-items: baseline;
}

.message {
  color: white;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message h1 {
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5rem;
}

.AnswerBarSubmitlap,
.AnswerBarHintlap {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  font-size: larger;
}

@media screen and (min-width: 1200px) {
  .QuestionBar > .QuestionImg {
    width: 25vw;
    height: 25vh;
  }
}
