@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");



.GamePage {
  background-image: url("../../../public/images/question-bg.png");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.QuestionBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.3rem;
 
}

.QuestionBar > .next-icon,
.QuestionBar > .prev-icon {
  max-height: 16vh;
  max-width: 8vw;
  object-fit: contain;
}

.QuestionBar > .prev-icon {
  transform: scaleX(-1);
}

.QuestionBar > .Question-Img {
  max-width: 50vw;
  max-height: 50vh;
  object-fit: contain;
}

@media screen and (min-width: 1300px) {
  .QuestionBar > .Question-Img {
    width: 25vw;
    max-height: 25vh;
  }
}

.Question-Img 
{
    width:50vw ;
    height:50vw ;
}

.AnswerBar {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
}

.AnswerBar-Input {
  display: block;
  width: 80vw;
  border-radius: 1rem;
  margin:auto ;
  height: 5vmax;
  text-align: center;
  padding: 2vmin;
  font-size: large;
 
  
}
.AnswerBar-Input:focus{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}


.AnswerBar-Input::placeholder
{
    animation-name: tada;
    animation-duration: 5s;
}

.AnswerBar-Input:focus {
  outline: 0px;
}

.AnswerBar-Bottom {
  display: flex;
  justify-content: center;
  padding-top: 3vw;
}

.AnswerBar-Icon {
  width: 5vw;
  max-height: 5vh;
  padding: 1vmin;
  object-fit: contain;
}

.AnswerBar-Hint {
  width: 40vw;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  color: black;
  display:flex;
  align-items: center;
  justify-content: center;
  padding:10px ;
  margin:10px ;
  margin-top: 20px ;
  outline: none;
}



.AnswerBar-Submit {
  width: 40vw;
  background-color: transparent;
  color: white;
  border: 1vmin solid white;
  border-radius: 2rem;
  padding:10px ;
  margin:10px;
  font-size: medium;
  margin-top: 20px ;
  outline: none;
}

.AnswerBar-Oneline-Bottom {
  display: flex;
  gap: 1vmax;
}

.AnswerBar-Oneline-Bottom > .AnswerBar-Hint {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

.AnswerBar-Oneline-Bottom > .AnswerBar-Hint > p {
  font-size: 3rem;
}

.AnswerBar-Oneline-Bottom > input[type="text"] {
  border-radius: 10vmax;
  text-align: center;
  font-size: 3rem;
  width: 55vw;
  padding: 2vmin;
}

.AnswerBar-Oneline-Bottom > .AnswerBar-Submit {
  font-size: 3rem;
  width: 10vw;
}

.GreyLayer {
  background-color: grey;
  opacity: 0.6;
  z-index: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.HintBox {
  position: absolute;
  z-index: 1;
  max-width: 75%;
  max-height: 75%;
  background-color: rgb(59, 59, 59);
  color: white;
  left: 50%;
  top: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  transform: translate(-50%, -50%);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.HintBox > p {
  text-align: center;
  padding: 3vmin;
}

.HintBox :not(:last-child) {
  border-bottom: 1vmin solid white;
}


.game__nav 
{
  position:absolute ;
  top:0;
  left:0;
  width:100% ;
  display: flex;
  justify-content:space-between;
  align-items: center;
  
  padding:20px 0px;
}

.game__menu,.trophy 
{
  color:white ;
  margin:20px ;
}
.trophy{
  display: flex;
  align-items: baseline;
}